.profile.player.col-md-9
	.row
		.menu
			.logo
				%img{class: "avatar", src: "#{image_path('member-icon.png')}"}
				%img{class: "flag", src: "#{image_path('flag.png')}"}
				%h3 #{current_user.nickname}
			%ul
				%li
					%a{href: "#{user_path(current_user.id)}"} Profil
		.content

			%h1 Edytuj profil

			= form_for current_user, url: user_path(current_user.id), method: "patch", class: "edit-form" do |f|
				.form-group
					%h3 Nickname
					= f.text_field :nickname, class: "form-control"
				.row
					.col-xs-12
						%button.btn.btn-default.pull-right{type: "submit"} Update