%h1
	= t('registration.header')
= form_tag(registration_path, method: :post) do |f|
	%div.form-group
		%label{:for => 'email'} 
			= t('email.short')
		%input{:type => 'email', :name => 'email', :class => 'form-control', :placeholder => t('email.long')}
	%div.form-group
		%label{:for => 'nickname'} 
			= t('nickname')
		%input{:type => 'nickname', :name => 'nickname', :class => 'form-control', :placeholder => t('nickname')}
	%div.form-group
		%label{:for => 'password'}
			= t('password')
		%input{:type => 'password', :name => 'password', :class => 'form-control', :placeholder => t('password')}
	%button{:type => 'submit', :class => 'btn btn-default'}
		= t('registration.submit')
	= link_to t('menu.login'), login_path