!!! 5
%html
	%head
		%meta{charset: 'utf-8'}
		%meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
		%meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
		= csrf_meta_tags

		%title PVP Center

		/ Style
		%link{href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel: 'stylesheet'}
		%link{href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel: 'stylesheet', type: 'text/css'}
		%link{href: 'https://fonts.googleapis.com/css?family=Roboto:400,700', rel: 'stylesheet', type: 'text/css'}
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true

		/ JS
		= javascript_include_tag 'application', 'data-turbolinks-track' => true

		/[if lt IE 9]
			%script{src: 'https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'}
			%script{src: 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js'}
	%body
		%div#site-header
			%div.top-navbar
				%div.container
					%div.row
						%div.col-md-4.col-sm-6.col-xs-8
							= link_to image_tag("logo.png"), root_path, class: "logo"
						- if current_user
							= render 'shared/user_panel'
						- else
							= render 'shared/auth_panel'


			%div.main-menu-container
				%div.container
					%nav#main-menu.navigation.collapse.navbar-collapse
						%ul.nav.navbar-nav
							%li.dropdown.hidden-xs.hidden-sm
								%a{href: "#{games_path}", class: "dropdown-toggle", "data-toggle" => "dropdown", "aria-expanded" => "false"}
									= t 'menu.games'
									%span.caret	
								%ul{class: "dropdown-menu", role: "menu"}
									- games_list.each do |game|
										%li
											= link_to game['name'], game_path(game['id'])
							%li.visible-xs-block.visible-sm-block
								%a{href: "#"}
									= t 'menu.games'
							%li
								%a{href: "#"}
									= t 'menu.transfer_market'
							%li
								%a{href: "#"}
									= t 'menu.media'
							%li
								%a{href: "#"}
									= t 'menu.shop'
							%li
								%a{href: "#"}
									= t 'menu.forum'
							%li.dropdown
								%a{href: "#", class: "dropdown-toggle", "data-toggle" => "dropdown", "aria-expanded" => "false"}
									%span{class: "flag-icon flag-icon-#{I18n.locale.to_s}"}
								%ul{class: "dropdown-menu"}
									- I18n.available_locales.each do |l|
										%li
											%a{href: set_lang_path(l.to_s), 'data-turbolinks-track' => false}
												%span{class: "flag-icon flag-icon-#{l.to_s}"}
												= t 'lang', locale: l
							%li.search-input
								%input{ type: "text", class: "form-control"}
							%li.search-toggle
								%a{ href: "#"}
									%i.fa.fa-search
		= notice
		.content
			.container
				.row
					= yield